In [1]:
# !pip3 install sklearn
!pip3 install s3fs
# !pip3 install pyarrow
# !pip3 install fastparquet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: s3fs in /usr/local/lib/python3.7/dist-packages (2022.5.0)
Requirement already satisfied: aiohttp<=4 in /usr/local/lib/python3.7/dist-packages (from s3fs) (3.8.1)
Requirement already satisfied: fsspec==2022.5.0 in /usr/local/lib/python3.7/dist-packages (from s3fs) (2022.5.0)
Requirement already satisfied: aiobotocore~=2.3.0 in /usr/local/lib/python3.7/dist-packages (from s3fs) (2.3.4)
Requirement already satisfied: botocore<1.24.22,>=1.24.21 in /usr/local/lib/python3.7/dist-packages (from aiobotocore~=2.3.0->s3fs) (1.24.21)
Requirement already satisfied: aioitertools>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from aiobotocore~=2.3.0->s3fs) (0.10.0)
Requirement already satisfied: wrapt>=1.10.10 in /usr/local/lib/python3.7/dist-packages (from aiobotocore~=2.3.0->s3fs) (1.14.1)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<=4->s3fs) (2.1.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<=4->s3fs) (1.7.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp<=4->s3fs) (4.0.2)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<=4->s3fs) (4.1.1)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp<=4->s3fs) (1.3.0)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<=4->s3fs) (0.13.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<=4->s3fs) (21.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp<=4->s3fs) (6.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp<=4->s3fs) (1.2.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.24.22,>=1.24.21->aiobotocore~=2.3.0->s3fs) (1.0.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.7/dist-packages (from botocore<1.24.22,>=1.24.21->aiobotocore~=2.3.0->s3fs) (1.26.10)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.24.22,>=1.24.21->aiobotocore~=2.3.0->s3fs) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.24.22,>=1.24.21->aiobotocore~=2.3.0->s3fs) (1.15.0)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<=4->s3fs) (2.10)

In [3]:
# Common Libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import s3fs

# ML Libs
from sklearn.cluster import DBSCAN

In [4]:
AWS_ACCESS_KEY = 'AKIASXMUUC3XPG3QGZF3'
AWS_SECRET_KEY = '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'

In [5]:
path_input = 's3://acmlandc-capstone/Data_handled/'

In [6]:
events = pd.read_parquet(f'{path_input}events_data',
                              storage_options={
                             "key":AWS_ACCESS_KEY,
                             "secret":AWS_SECRET_KEY
                         })

In [7]:
events.shape

(1215598, 15)

In [8]:
events.head()

,device_id,gender,age,grp,event_id,tstamp,longitude,latitude,problematic_positions,day_of_week,hour_of_day,age_grp_eda,event_count,median_lat,med_long
0,-4833982096941400000,M,47,M32+,3,2016-05-01 00:08:05,106.60,29.70,0,6,0,46+,248,29.83,107.00
1,-6815121365017310000,M,30,M25-32,4,2016-05-01 00:06:40,104.27,23.28,0,6,0,25-32,47,23.28,104.27
2,1476664663289710000,M,19,M0-24,6,2016-05-01 00:27:21,0.00,0.00,1,6,0,0-24,82,31.25,115.42
3,-8195816569128390000,M,39,M32+,10,2016-05-01 00:41:31,119.34,26.04,0,6,0,33-45,48,26.04,119.34
4,-1663840927569380000,F,19,F0-24,22,2016-05-01 00:43:15,116.45,33.93,0,6,0,0-24,28,33.93,116.45

In [9]:
events.drop('age_grp_eda',axis=1,inplace=True)

In [10]:
events['age_grp'] = events['grp'].apply(lambda x: x[1:])

In [11]:
events.drop('grp',axis=1,inplace=True)

In [12]:
events.head()

,device_id,gender,age,event_id,tstamp,longitude,latitude,problematic_positions,day_of_week,hour_of_day,event_count,median_lat,med_long,age_grp
0,-4833982096941400000,M,47,3,2016-05-01 00:08:05,106.60,29.70,0,6,0,248,29.83,107.00,32+
1,-6815121365017310000,M,30,4,2016-05-01 00:06:40,104.27,23.28,0,6,0,47,23.28,104.27,25-32
2,1476664663289710000,M,19,6,2016-05-01 00:27:21,0.00,0.00,1,6,0,82,31.25,115.42,0-24
3,-8195816569128390000,M,39,10,2016-05-01 00:41:31,119.34,26.04,0,6,0,48,26.04,119.34,32+
4,-1663840927569380000,F,19,22,2016-05-01 00:43:15,116.45,33.93,0,6,0,28,33.93,116.45,0-24

In [13]:
# separating lats and longs between -1 and 1 , and taking required cols only
data_to_cluster = events[events['problematic_positions']==0][['event_id','latitude','longitude']].copy()

In [14]:
data_to_cluster.shape

(830398, 3)

In [15]:
coords = data_to_cluster[['latitude','longitude']]

In [16]:
import sklearn
sklearn.__version__

'1.0.2'

In [17]:
kms_per_radian = 6371.0088
epsilon = 10/kms_per_radian # radians in 10 kms
db = DBSCAN(eps= epsilon, min_samples= 1000, algorithm = 'ball_tree', metric = 'haversine',n_jobs=-1) # 1000 events in proximity to form a core

In [24]:
# fit the data
db.fit(np.radians(coords))

DBSCAN(algorithm='ball_tree', eps=0.0015696101377226162, metric='haversine',
       min_samples=1000, n_jobs=-1)

In [25]:
data_to_cluster['position_cluster'] = db.labels_

In [26]:
data_to_cluster['position_cluster'].min(),data_to_cluster['position_cluster'].max()

(-1, 118)

In [27]:
data_to_cluster[data_to_cluster['position_cluster']==0]

         event_id  latitude  longitude  position_cluster
3              10     26.04     119.34                 0
144           799     26.08     119.34                 0
151           854     26.05     119.25                 0
184           973     26.03     119.33                 0
282          1517     26.05     119.25                 0
...           ...       ...        ...               ...
1214963   3228164     25.99     119.21                 0
1214971   3228552     25.98     119.22                 0
1214972   3228569     26.03     119.26                 0
1215021   3230356     25.98     119.22                 0
1215028   3230479     25.98     119.22                 0

[5525 rows x 4 columns]

In [28]:
# Hence in total 119 clusters have been identified , other than that -1 indicates unable to cluster

In [30]:
events = events.merge(data_to_cluster,how='left',on='event_id')

In [31]:
events.drop(['latitude_y','longitude_y'],axis=1,inplace=True)

In [32]:
events.rename(columns={'latitude_x':'latitude','longitude_x':'longitude'},inplace=True)

In [33]:
events.head()

,device_id,gender,age,event_id,tstamp,longitude,latitude,problematic_positions,day_of_week,hour_of_day,event_count,median_lat,med_long,age_grp,position_cluster
0,-4833982096941400000,M,47,3,2016-05-01 00:08:05,106.60,29.70,0,6,0,248,29.83,107.00,32+,28.0
1,-6815121365017310000,M,30,4,2016-05-01 00:06:40,104.27,23.28,0,6,0,47,23.28,104.27,25-32,-1.0
2,1476664663289710000,M,19,6,2016-05-01 00:27:21,0.00,0.00,1,6,0,82,31.25,115.42,0-24,NaN
3,-8195816569128390000,M,39,10,2016-05-01 00:41:31,119.34,26.04,0,6,0,48,26.04,119.34,32+,0.0
4,-1663840927569380000,F,19,22,2016-05-01 00:43:15,116.45,33.93,0,6,0,28,33.93,116.45,0-24,-1.0

In [34]:
events['position_cluster'].fillna(120,inplace=True) ## making the events in which both lat and ling are b/w -1,1 as separate cluster
events['position_cluster'].replace(-1,119,inplace=True) ## make cluster no for unclustered data to 119

In [35]:
events.to_parquet(f'{path_input}events_clustered',
                  storage_options={
                      "key":AWS_ACCESS_KEY,
                      "secret":AWS_SECRET_KEY
                  })