In [153]:
# !pip3 install s3fs

In [154]:
import pandas as pd
import numpy as np
import s3fs

In [155]:
AWS_ACCESS_KEY = 'AKIASXMUUC3XPG3QGZF3'
AWS_SECRET_KEY = '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'

In [156]:
path_input = 's3://acmlandc-capstone/Final_data/'
path_output = 's3://acmlandc-capstone/Modelling_data/'

In [157]:
scenario1 = pd.read_parquet(f'{path_input}scenario1',
                              storage_options={
                             "key":AWS_ACCESS_KEY,
                             "secret":AWS_SECRET_KEY
                         })
scenario2 = pd.read_parquet(f'{path_input}scenario2',
                              storage_options={
                             "key":AWS_ACCESS_KEY,
                             "secret":AWS_SECRET_KEY
                         })

In [158]:
scenario1.shape

(23310, 10)

In [159]:
scenario2.shape

(51335, 6)

## 01 Data preparation for scenario1

In [160]:
scenario1.head()

,device_id,gender,age,age_grp,position_cluster,most_used_app_cat,avg_active_apps,event_count,phone_brand_consolidated,device_model_consolidated
4,-1002733576670970000,M,47,32+,120.0,industry,15.980769,55.0,Huawei,Other
5,-1002969456091700000,F,33,32+,120.0,industry,33.000000,7.0,Huawei,Other
9,-1007249684892520000,M,40,32+,120.0,industry,35.266667,15.0,samsung,Other
14,-1010331399860270000,M,26,25-32,2.0,industry,41.000000,4.0,Other,Other
33,-1018388775982620000,F,28,25-32,120.0,industry,45.933333,30.0,samsung,Other

In [161]:
scenario1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23310 entries, 4 to 74642
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   device_id                  23310 non-null  object
 1   gender                     23310 non-null  object
 2   age                        23310 non-null  int32
 3   age_grp                    23310 non-null  object
 4   position_cluster           23310 non-null  float64
 5   most_used_app_cat          23310 non-null  object
 6   avg_active_apps            23310 non-null  float64
 7   event_count                23310 non-null  float64
 8   phone_brand_consolidated   23310 non-null  object
 9   device_model_consolidated  23310 non-null  object
dtypes: float64(3), int32(1), object(6)
memory usage: 1.9+ MB

In [162]:
scenario1['position_cluster'] = scenario1['position_cluster'].astype('int32')

In [163]:
scenario1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23310 entries, 4 to 74642
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   device_id                  23310 non-null  object
 1   gender                     23310 non-null  object
 2   age                        23310 non-null  int32
 3   age_grp                    23310 non-null  object
 4   position_cluster           23310 non-null  int32
 5   most_used_app_cat          23310 non-null  object
 6   avg_active_apps            23310 non-null  float64
 7   event_count                23310 non-null  float64
 8   phone_brand_consolidated   23310 non-null  object
 9   device_model_consolidated  23310 non-null  object
dtypes: float64(2), int32(2), object(6)
memory usage: 1.8+ MB

In [164]:
# gender , age and age_grp are target variables

# position_cluster,avg_active_apps,event_count  to be  considered as numerical col
# other as categorical_cols

In [165]:
numerical_cols = ['avg_active_apps','event_count']
categeorical_cols_to_encode = ['phone_brand_consolidated','device_model_consolidated','most_used_app_cat']

In [166]:
scenario1_ohe = pd.get_dummies(data=scenario1,columns=['position_cluster','most_used_app_cat','phone_brand_consolidated','device_model_consolidated'])

In [167]:
scenario1_ohe = scenario1_ohe[[col for col in list(scenario1_ohe.columns) if col not in categeorical_cols_to_encode]]

In [168]:
scenario1_ohe.drop(['position_cluster_120','most_used_app_cat_Other','phone_brand_consolidated_Other','device_model_consolidated_Other'],axis=1,inplace=True)

In [169]:
scenario1_ohe.shape

(23310, 178)

In [170]:
scenario1_ohe.to_parquet(f'{path_output}scenario1',
                      storage_options={
                        "key":AWS_ACCESS_KEY,
                        "secret":AWS_SECRET_KEY   
                     }
                     )

## 02 Data preparation for scenario2

In [171]:
scenario2.head()

,device_id,gender,age,age_grp,phone_brand_consolidated,device_model_consolidated
0,-1000369272589010000,F,26,25-32,vivo,Other
1,-1000572055892390000,F,27,25-32,OPPO,Other
2,-1000643208750510000,M,29,25-32,Gionee,Other
3,-1001949518704260000,M,22,0-24,OPPO,Other
6,-1003040252653180000,M,44,32+,Meizu,Other

In [172]:
cat_cols = ['phone_brand_consolidated','device_model_consolidated']

In [173]:
scenario2_ohe = pd.get_dummies(scenario2,columns=cat_cols)

In [174]:
scenario2_ohe.shape

(51335, 48)

In [175]:
scenario2_ohe.drop(['phone_brand_consolidated_Other','device_model_consolidated_Other'],axis=1,inplace=True)

In [176]:
scenario2_ohe.to_parquet(f'{path_output}scenario2',
                      storage_options={
                        "key":AWS_ACCESS_KEY,
                        "secret":AWS_SECRET_KEY   
                     }
                     )

## 3 Splitting the data

In [177]:
train_test_split = pd.read_csv(f'{path_output}train_test_split.csv',
                               storage_options={
                                "key":AWS_ACCESS_KEY,
                                "secret":AWS_SECRET_KEY   
                               }
                               )

In [178]:
train_test_split.head()

             device_id gender  age group train_test_flag
0 -7548291590301750000      M   33  M32+           train
1  6943568600617760000      M   37  M32+           train
2  5441349705980020000      M   40  M32+           train
3 -5393876656119450000      M   33  M32+           train
4  4543988487649880000      M   53  M32+           train

In [179]:
train_test_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   device_id        74645 non-null  int64
 1   gender           74645 non-null  object
 2   age              74645 non-null  int64
 3   group            74645 non-null  object
 4   train_test_flag  74645 non-null  object
dtypes: int64(2), object(3)
memory usage: 2.8+ MB

In [180]:
train_test_split['device_id']  = train_test_split['device_id'].astype('str')

In [181]:
scenario1 = scenario1_ohe.merge(train_test_split[['device_id','train_test_flag']],how='inner',on='device_id')

In [182]:
scenario1_train = scenario1[scenario1['train_test_flag']=='train'].copy()
scenario1_test = scenario1[scenario1['train_test_flag']=='test'].copy()

In [183]:
scenario1_train.to_parquet(f'{path_output}scenario1_train',
                      storage_options={
                        "key":AWS_ACCESS_KEY,
                        "secret":AWS_SECRET_KEY   
                     }
                     )

scenario1_test.to_parquet(f'{path_output}scenario1_test',
                      storage_options={
                        "key":AWS_ACCESS_KEY,
                        "secret":AWS_SECRET_KEY   
                     }
                     )

In [184]:
scenario2 = scenario2_ohe.merge(train_test_split[['device_id','train_test_flag']],how='inner',on='device_id')
scenario2_train = scenario2[scenario2['train_test_flag']=='train'].copy()
scenario2_test = scenario2[scenario2['train_test_flag']=='test'].copy()

In [185]:
scenario2_train.to_parquet(f'{path_output}scenario2_train',
                      storage_options={
                        "key":AWS_ACCESS_KEY,
                        "secret":AWS_SECRET_KEY   
                     }
                     )

scenario2_test.to_parquet(f'{path_output}scenario2_test',
                      storage_options={
                        "key":AWS_ACCESS_KEY,
                        "secret":AWS_SECRET_KEY   
                     }
                     )