## 01 Load the Libraries

In [1]:
# ! pip3 install s3fs

In [2]:
import pandas as pd
import numpy as np
import s3fs

# 02 Loading the datasets

In [3]:
path_input = 's3://acmlandc-capstone/Data_handled/'
path_output = 's3://acmlandc-capstone/Final_data/' # defining for dumping the final scenario files

In [4]:
AWS_ACCESS_KEY = 'AKIASXMUUC3XPG3QGZF3'
AWS_SECRET_KEY = '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'

In [5]:
events = pd.read_parquet(f'{path_input}events_clustered',
                              storage_options={
                             "key":AWS_ACCESS_KEY,
                             "secret":AWS_SECRET_KEY
                         })

non_events = pd.read_parquet(f'{path_input}non_events',
                              storage_options={
                             "key":AWS_ACCESS_KEY,
                             "secret":AWS_SECRET_KEY
                         })

In [6]:

app_data = pd.read_parquet(f'{path_input}app_data',
                              storage_options={
                             "key":AWS_ACCESS_KEY,
                             "secret":AWS_SECRET_KEY
                         })

In [7]:
# reverify the data shapes
print('Events: ',events.shape)
print('Non- Events: ',non_events.shape)
print('Apps: ',app_data.shape)

Events:  (1215598, 15)
Non- Events:  (74645, 7)
Apps:  (209355710, 7)

In [8]:
events.head()

,device_id,gender,age,event_id,tstamp,longitude,latitude,problematic_positions,day_of_week,hour_of_day,event_count,median_lat,med_long,age_grp,position_cluster
0,-4833982096941400000,M,47,3,2016-05-01 00:08:05,106.60,29.70,0,6,0,248,29.83,107.00,32+,28.0
1,-6815121365017310000,M,30,4,2016-05-01 00:06:40,104.27,23.28,0,6,0,47,23.28,104.27,25-32,119.0
2,1476664663289710000,M,19,6,2016-05-01 00:27:21,0.00,0.00,1,6,0,82,31.25,115.42,0-24,120.0
3,-8195816569128390000,M,39,10,2016-05-01 00:41:31,119.34,26.04,0,6,0,48,26.04,119.34,32+,0.0
4,-1663840927569380000,F,19,22,2016-05-01 00:43:15,116.45,33.93,0,6,0,28,33.93,116.45,0-24,119.0

In [9]:
app_data.head()

,event_id,app_id,is_installed,is_active,label_id,label_cat,super_label_cat
0,3231904,-1000044012126765960,1,0,548,Industry tag,industry
1,3231904,-1000044012126765960,1,0,794,Tencent,tencent
2,3231904,-1000044012126765960,1,0,704,Property Industry 2.0,industry
3,3231904,-1000044012126765960,1,0,13,game-Puzzle,game
4,3231904,-1000044012126765960,1,0,795,game,game

In [10]:
non_events.head()

,device_id,gender,age,phone_brand,device_model,age_grp,age_grp_eda
0,-1000369272589010000,F,26,vivo,Y17T,25-32,25-32
1,-1000572055892390000,F,27,OPPO,R819T,25-32,25-32
2,-1000643208750510000,M,29,Gionee,GN137,25-32,25-32
3,-1001949518704260000,M,22,OPPO,R1,0-24,0-24
4,-1002733576670970000,M,47,Huawei,è£è€€7,32+,46+

In [11]:
non_events.drop('age_grp_eda',axis=1,inplace=True)

In [12]:
active_events = app_data.groupby('event_id')['is_active'].sum()

In [13]:
active_events = active_events.reset_index()

In [14]:
active_events[active_events['is_active']==0].count()

event_id     11037
is_active    11037
dtype: int64

In [15]:
## this indicates 11k events for which there is no activity

In [16]:
# create a feature of average no of active apps per event for each device.
# This may be important for the age differentiation
active_events.rename(columns={'is_active':'count_active_apps'},inplace=True)
events = events.merge(active_events,how='left',on='event_id')

In [17]:
events.head()

,device_id,gender,age,event_id,tstamp,longitude,latitude,problematic_positions,day_of_week,hour_of_day,event_count,median_lat,med_long,age_grp,position_cluster,count_active_apps
0,-4833982096941400000,M,47,3,2016-05-01 00:08:05,106.60,29.70,0,6,0,248,29.83,107.00,32+,28.0,NaN
1,-6815121365017310000,M,30,4,2016-05-01 00:06:40,104.27,23.28,0,6,0,47,23.28,104.27,25-32,119.0,NaN
2,1476664663289710000,M,19,6,2016-05-01 00:27:21,0.00,0.00,1,6,0,82,31.25,115.42,0-24,120.0,83.0
3,-8195816569128390000,M,39,10,2016-05-01 00:41:31,119.34,26.04,0,6,0,48,26.04,119.34,32+,0.0,NaN
4,-1663840927569380000,F,19,22,2016-05-01 00:43:15,116.45,33.93,0,6,0,28,33.93,116.45,0-24,119.0,NaN

In [18]:
avg_active_apps = events.groupby(['device_id'])['count_active_apps'].mean().reset_index()

In [19]:
events = events.merge(avg_active_apps,how='left',on='device_id')

In [20]:
events.rename(columns = {'count_active_apps_y':'avg_active_apps'},inplace=True)

In [21]:
events.head()

,device_id,gender,age,event_id,tstamp,longitude,latitude,problematic_positions,day_of_week,hour_of_day,event_count,median_lat,med_long,age_grp,position_cluster,count_active_apps_x,avg_active_apps
0,-4833982096941400000,M,47,3,2016-05-01 00:08:05,106.60,29.70,0,6,0,248,29.83,107.00,32+,28.0,NaN,7.711111
1,-6815121365017310000,M,30,4,2016-05-01 00:06:40,104.27,23.28,0,6,0,47,23.28,104.27,25-32,119.0,NaN,59.333333
2,1476664663289710000,M,19,6,2016-05-01 00:27:21,0.00,0.00,1,6,0,82,31.25,115.42,0-24,120.0,83.0,69.817073
3,-8195816569128390000,M,39,10,2016-05-01 00:41:31,119.34,26.04,0,6,0,48,26.04,119.34,32+,0.0,NaN,9.125000
4,-1663840927569380000,F,19,22,2016-05-01 00:43:15,116.45,33.93,0,6,0,28,33.93,116.45,0-24,119.0,NaN,72.384615

In [22]:
events.drop(['count_active_apps_x'],axis=1,inplace=True)

In [23]:
## summarizing app data to event_data

et = events.merge(app_data[app_data['is_active']==1].copy(),how='left',on='event_id')

In [24]:
et.shape

(27492369, 22)

In [25]:
et.head()

,device_id,gender,age,event_id,tstamp,longitude,latitude,problematic_positions,day_of_week,hour_of_day,...,med_long,age_grp,position_cluster,avg_active_apps,app_id,is_installed,is_active,label_id,label_cat,super_label_cat
0,-4833982096941400000,M,47,3,2016-05-01 00:08:05,106.60,29.70,0,6,0,...,107.00,32+,28.0,7.711111,NaN,NaN,NaN,NaN,NaN,NaN
1,-6815121365017310000,M,30,4,2016-05-01 00:06:40,104.27,23.28,0,6,0,...,104.27,25-32,119.0,59.333333,NaN,NaN,NaN,NaN,NaN,NaN
2,1476664663289710000,M,19,6,2016-05-01 00:27:21,0.00,0.00,1,6,0,...,115.42,0-24,120.0,69.817073,-4361453417043092299,1.0,1.0,548.0,Industry tag,industry
3,1476664663289710000,M,19,6,2016-05-01 00:27:21,0.00,0.00,1,6,0,...,115.42,0-24,120.0,69.817073,-4361453417043092299,1.0,1.0,706.0,Customized 1,customized 1
4,1476664663289710000,M,19,6,2016-05-01 00:27:21,0.00,0.00,1,6,0,...,115.42,0-24,120.0,69.817073,-4361453417043092299,1.0,1.0,405.0,Custom label,custom label

In [26]:
most_used_app_cat = et.groupby('device_id')['super_label_cat'].agg(lambda x : np.random.choice(x.mode(dropna=False))).to_frame()

/usr/local/lib/python3.7/dist-packages/pandas/core/algorithms.py:969: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'float'
  warn(f"Unable to sort modes: {err}")
/usr/local/lib/python3.7/dist-packages/pandas/core/algorithms.py:969: UserWarning: Unable to sort modes: '<' not supported between instances of 'float' and 'str'
  warn(f"Unable to sort modes: {err}")

In [27]:
most_used_app_cat.reset_index(inplace=True)

In [28]:
most_used_app_cat.head()

              device_id super_label_cat
0  -1001337759327040000        industry
1  -1002595372059170000         unknown
2  -1002733576670970000        industry
3  -1002969456091700000        industry
4  -1005411102947240000        industry

In [29]:
most_used_app_cat.rename(columns={'super_label_cat':'most_used_app_cat'},inplace=True)

In [79]:
most_used_app_cat.isnull().sum()

device_id               0
most_used_app_cat    1577
dtype: int64

In [30]:
#remove app_data from memory
del app_data
del et

In [31]:
events = events.merge(most_used_app_cat,how='left',on='device_id')

In [32]:
events.head()

,device_id,gender,age,event_id,tstamp,longitude,latitude,problematic_positions,day_of_week,hour_of_day,event_count,median_lat,med_long,age_grp,position_cluster,avg_active_apps,most_used_app_cat
0,-4833982096941400000,M,47,3,2016-05-01 00:08:05,106.60,29.70,0,6,0,248,29.83,107.00,32+,28.0,7.711111,unknown
1,-6815121365017310000,M,30,4,2016-05-01 00:06:40,104.27,23.28,0,6,0,47,23.28,104.27,25-32,119.0,59.333333,industry
2,1476664663289710000,M,19,6,2016-05-01 00:27:21,0.00,0.00,1,6,0,82,31.25,115.42,0-24,120.0,69.817073,industry
3,-8195816569128390000,M,39,10,2016-05-01 00:41:31,119.34,26.04,0,6,0,48,26.04,119.34,32+,0.0,9.125000,industry
4,-1663840927569380000,F,19,22,2016-05-01 00:43:15,116.45,33.93,0,6,0,28,33.93,116.45,0-24,119.0,72.384615,industry

In [33]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1215598 entries, 0 to 1215597
Data columns (total 17 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   device_id              1215598 non-null  object
 1   gender                 1215598 non-null  object
 2   age                    1215598 non-null  int32
 3   event_id               1215598 non-null  int32
 4   tstamp                 1215598 non-null  datetime64[ns]
 5   longitude              1215598 non-null  float64
 6   latitude               1215598 non-null  float64
 7   problematic_positions  1215598 non-null  int64
 8   day_of_week            1215598 non-null  int64
 9   hour_of_day            1215598 non-null  int64
 10  event_count            1215598 non-null  int64
 11  median_lat             1215598 non-null  float64
 12  med_long               1215598 non-null  float64
 13  age_grp                1215598 non-null  object
 14  position_cluster       1215598 non-null  float64
 15  avg_active_apps        1215302 non-null  float64
 16  most_used_app_cat      973389 non-null   object
dtypes: datetime64[ns](1), float64(6), int32(2), int64(4), object(4)
memory usage: 157.7+ MB

In [34]:
## At device level , model of position cluster can be taken

mode_position = events.groupby('device_id')['position_cluster'].agg(lambda x : np.random.choice(x.mode(dropna=False))).to_frame()

In [35]:
mode_position = mode_position.reset_index()

In [36]:
non_events.head()

              device_id gender  age phone_brand device_model age_grp
0  -1000369272589010000      F   26        vivo         Y17T   25-32
1  -1000572055892390000      F   27        OPPO        R819T   25-32
2  -1000643208750510000      M   29      Gionee        GN137   25-32
3  -1001949518704260000      M   22        OPPO           R1    0-24
4  -1002733576670970000      M   47      Huawei      è£è€€7     32+

In [37]:
## accumulating features on non_events df

non_events = non_events.merge(mode_position,how='left',on='device_id') ## adding position cluster

In [38]:
non_events = non_events.merge(most_used_app_cat,how='left',on='device_id') ## adding most used app cat

In [39]:
e = events[['device_id','avg_active_apps','event_count']].drop_duplicates()

In [40]:
e.shape

(23310, 3)

In [41]:
e['device_id'].nunique()

23310

In [42]:
non_events = non_events.merge(e, how='left',on='device_id')

In [ ]:
del e

In [43]:
non_events.shape

(74645, 10)

In [44]:
non_events.head()

,device_id,gender,age,phone_brand,device_model,age_grp,position_cluster,most_used_app_cat,avg_active_apps,event_count
0,-1000369272589010000,F,26,vivo,Y17T,25-32,NaN,NaN,NaN,NaN
1,-1000572055892390000,F,27,OPPO,R819T,25-32,NaN,NaN,NaN,NaN
2,-1000643208750510000,M,29,Gionee,GN137,25-32,NaN,NaN,NaN,NaN
3,-1001949518704260000,M,22,OPPO,R1,0-24,NaN,NaN,NaN,NaN
4,-1002733576670970000,M,47,Huawei,è£è€€7,32+,120.0,industry,15.980769,55.0

In [46]:
non_events['phone_brand'].nunique()

97

In [47]:
# change to top_10_phonebrands

top_10_phone_brands = non_events.groupby('phone_brand')['device_id'].count().reset_index().sort_values('device_id',ascending=False).head(10)

In [48]:
top_10_phone_brands = top_10_phone_brands.phone_brand.to_list()

In [49]:
non_events['phone_brand_consolidated'] = non_events['phone_brand'].apply(lambda x: x if x in top_10_phone_brands else 'Other')

In [50]:
non_events.head()

,device_id,gender,age,phone_brand,device_model,age_grp,position_cluster,most_used_app_cat,avg_active_apps,event_count,phone_brand_consolidated
0,-1000369272589010000,F,26,vivo,Y17T,25-32,NaN,NaN,NaN,NaN,vivo
1,-1000572055892390000,F,27,OPPO,R819T,25-32,NaN,NaN,NaN,NaN,OPPO
2,-1000643208750510000,M,29,Gionee,GN137,25-32,NaN,NaN,NaN,NaN,Gionee
3,-1001949518704260000,M,22,OPPO,R1,0-24,NaN,NaN,NaN,NaN,OPPO
4,-1002733576670970000,M,47,Huawei,è£è€€7,32+,120.0,industry,15.980769,55.0,Huawei

In [51]:
top_device_models = non_events.groupby('phone_brand_consolidated')['device_model'].apply(lambda x : x.value_counts().nlargest(3))

In [52]:
top_device_models['vivo']

X3T      380
X5Pro    347
X3L      286
Name: device_model, dtype: int64

In [53]:
non_events['device_model_consolidated'] = non_events[['phone_brand_consolidated','device_model']].apply(lambda x : x[1] if x[1] in list(top_device_models[x[0]].index) else 'Other',axis=1)

In [54]:
non_events.head()

,device_id,gender,age,phone_brand,device_model,age_grp,position_cluster,most_used_app_cat,avg_active_apps,event_count,phone_brand_consolidated,device_model_consolidated
0,-1000369272589010000,F,26,vivo,Y17T,25-32,NaN,NaN,NaN,NaN,vivo,Other
1,-1000572055892390000,F,27,OPPO,R819T,25-32,NaN,NaN,NaN,NaN,OPPO,Other
2,-1000643208750510000,M,29,Gionee,GN137,25-32,NaN,NaN,NaN,NaN,Gionee,Other
3,-1001949518704260000,M,22,OPPO,R1,0-24,NaN,NaN,NaN,NaN,OPPO,Other
4,-1002733576670970000,M,47,Huawei,è£è€€7,32+,120.0,industry,15.980769,55.0,Huawei,Other

In [55]:
non_events['device_model_consolidated'].nunique()

33

In [56]:
non_events.drop(['phone_brand','device_model'],axis=1,inplace=True)

In [57]:
non_events.head()

,device_id,gender,age,age_grp,position_cluster,most_used_app_cat,avg_active_apps,event_count,phone_brand_consolidated,device_model_consolidated
0,-1000369272589010000,F,26,25-32,NaN,NaN,NaN,NaN,vivo,Other
1,-1000572055892390000,F,27,25-32,NaN,NaN,NaN,NaN,OPPO,Other
2,-1000643208750510000,M,29,25-32,NaN,NaN,NaN,NaN,Gionee,Other
3,-1001949518704260000,M,22,0-24,NaN,NaN,NaN,NaN,OPPO,Other
4,-1002733576670970000,M,47,32+,120.0,industry,15.980769,55.0,Huawei,Other

In [58]:
scenario2 = non_events[non_events['position_cluster'].isnull()].copy()

In [59]:
scenario2.shape

(51335, 10)

In [77]:
scenario1 = non_events[~non_events['position_cluster'].isnull()].copy()

In [61]:
scenario1.shape

(23310, 10)

In [78]:
scenario1.isnull().sum()

device_id                       0
gender                          0
age                             0
age_grp                         0
position_cluster                0
most_used_app_cat            1577
avg_active_apps                19
event_count                     0
phone_brand_consolidated        0
device_model_consolidated       0
dtype: int64

In [80]:
scenario1['avg_active_apps'].fillna(0,inplace=True)
scenario1['most_used_app_cat'].fillna('No Active App',inplace=True)

In [64]:
scenario2.isnull().sum()

device_id                        0
gender                           0
age                              0
age_grp                          0
position_cluster             51335
most_used_app_cat            51335
avg_active_apps              51335
event_count                  51335
phone_brand_consolidated         0
device_model_consolidated        0
dtype: int64

In [65]:
scenario2.drop(['position_cluster','most_used_app_cat','avg_active_apps','event_count'],axis=1,inplace=True)

In [81]:
scenario1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23310 entries, 4 to 74642
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   device_id                  23310 non-null  object
 1   gender                     23310 non-null  object
 2   age                        23310 non-null  int32
 3   age_grp                    23310 non-null  object
 4   position_cluster           23310 non-null  float64
 5   most_used_app_cat          23310 non-null  object
 6   avg_active_apps            23310 non-null  float64
 7   event_count                23310 non-null  float64
 8   phone_brand_consolidated   23310 non-null  object
 9   device_model_consolidated  23310 non-null  object
dtypes: float64(3), int32(1), object(6)
memory usage: 1.9+ MB

In [82]:
scenario1['most_used_app_cat'].nunique()

56

In [83]:
top_10_app_cat = list(scenario1['most_used_app_cat'].value_counts().head(10).index)

In [84]:
top_10_app_cat

['industry',
 'unknown',
 'No Active App',
 'debit and credit',
 'p2p',
 'p2p net loan',
 'game',
 'video',
 'pay',
 'medical']

In [85]:
scenario1['most_used_app_cat'] = scenario1['most_used_app_cat'].apply(lambda x : x if x in top_10_app_cat else 'Other')

In [86]:
scenario1.to_parquet(f'{path_output}scenario1',
                      storage_options={
                             "key":AWS_ACCESS_KEY,
                             "secret":AWS_SECRET_KEY
                         }
                     )
scenario2.to_parquet(f'{path_output}scenario2',
                      storage_options={
                             "key":AWS_ACCESS_KEY,
                             "secret":AWS_SECRET_KEY
                         }
                     )